@import "./var";
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  line-height: 124%;
}
h1 {
  font-size: 42px;
}
h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}
h4 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}
p {
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: $secondary;
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 15px;
  }
  a,
  p, small {
    font-size: 12px !important;
  }
}