@import "../../styles/var";
.portfolio{
    &-content{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &-item{
        border-radius: 10px;
        overflow: hidden;
        height: 300px;
        width: calc((100% - 40px) / 3);
        position: relative;
        &:hover .curtain{
            top: 0;
        }
        &:hover img{
            transform: scale(1.2);
        }
        .curtain{
            transition: all 0.4s ease;
            display: block;
            width: 100%;
            height: 100%;
            background-color: $primary;
            opacity: 0.9;
            text-align: center;
            line-height: 300px;
            font-size: 15px;
            text-transform: capitalize;
            color: $custom-dark;
            position: absolute;
            top: 100%;
            left: 0;
        }
        img{
            transition: all 0.3s ease;
           width: 100%;
           height: 300px;
           object-fit: cover;
        }
    }
}
@media only screen and (max-width: 560px) {
    .portfolio{
        &-item{
            width: 100%;
        }
    }
}